.container-register {
    width: 40%;
    padding: 20px; /* Thêm khoảng cách bên trong */
    border: 1px solid #ccc; /* Đường viền mỏng, màu xám nhạt */
    border-radius: 8px; /* Bo góc cho mềm mại */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng đổ bóng nhẹ */
    margin: 20px auto; /* Canh giữa container theo chiều ngang và thêm khoảng cách bên ngoài */
    background-color: #f9f9f9; /* Màu nền nhẹ nhàng */
}
.container-register h2{
    text-align: center;
}
.btn-custom{
    width: 100%;
}
.alert-custom{
    text-align: center;
}